@charset "utf-8";
@font-face {
  font-family: 'prima';
  src: url(../_fonts/Raleway.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'secunda';
  src: url(../_fonts/OpenSans.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Formatação dos textos*/
body h1 {
  font-family: 'prima', Arial, Sans-Serif;
  font-size: 30px;
  font-weight: bold;
}

body h2, h3 {
  font-family: 'secunda', Arial, Sans-Serif;
}

.gen-data dt {
  font-family: 'prima', Arial, Sans-Serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 2px 0.5px rgba(12,31,28,0.7);
}

.gen-data dd {
  font-family: 'secunda', Arial, Sans-Serif;
  font-size: 20px;
}
/*Entradas da Dex*/

.art {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 10px;
  top: 80px;
  transform: scaleX(-1);
}

.minicon {
  width: 50px;
}
footer {
  font-family: 'secunda', Arial, Sans-Serif;
}

body {
  background-color: rgba(14,35,0,0.5);
  color: #1e1d0c;
}