@charset:'utf-8';
@font-face {
  font-family: 'botao';
  src: url(../_fonts/OpenSans.woff) format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'menu';
  src: url(../_fonts/Raleway.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
/*Cabeçalho*/
body h1 {
  font-family: 'menu';
}

.menu {
  position: absolute;
  top: 5px;
  right: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  object-fit: contain;;
  align-items: left;
  font-family: 'botao';
  font-size: 20px;
}

.menu li {
  display: flex;
  align-items: left;
}

header button {
  border-radius: 10px;
  border-color: #1e1d0c;
  background-color: rgba(0,125,75,0.3);
  border-width: 3px;
}

.hide {
  display: none;
}

.barra-de-busca input {
  font-family: 'botao';
  width: 93%;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #555;
  border-radius: 6px;
}

/*Botões dos pokémon*/

ul.lista-index {
  list-style: none;
  padding: 0px;
  padding-top: 15px;
  margin: 0px;
}

.entry button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0,125,75,0.3);
  border-radius: 10px;
  border-color: #1d1e0c;
  border-width: 3px;
  margin-bottom: 2.5px;

}

.entry button span {
  font-family: 'botao', Arial, Sans-Serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #1e1d0c;
}

.entry img {
  object-fit: contain;
}

body {
  background-color: rgba(14,35,0,0.5);
  color: #1e1d0c;
}